In [1]:
# DATA LOAD, CREATION OF Y VARIABLE, DROPPING COLUMN

import pandas as pd
import numpy as np

In [7]:
# Load the file
df = pd.read_csv("d:/machine learning/USA_Housing.csv")

In [8]:
# View columns
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [10]:
# The dataset contains 5000 rows, from index 0 to 5000
df.index

RangeIndex(start=0, stop=5000, step=1)

In [17]:
#We can retrieve the first four rows and the first three columns using a row number and column number. 
#This can be done using the iloc indexer in pandas, which retrieves data using index positions.
df.iloc[0:4 , 0:3]

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms
Address,,,
"208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101",79545.45857,5.682861,7.009188
"188 Johnson Views Suite 079\nLake Kathleen, CA 48958",79248.64245,6.002900,6.730821
"9127 Elizabeth Stravenue\nDanieltown, WI 06482-3489",61287.06718,5.865890,8.512727
USS Barnett\nFPO AP 44820,63345.24005,7.188236,5.586729

In [24]:
# Dropping a column
X = df.drop('Price', axis=1)
# The default number of instances that will be taken for the head is five, so if you don't specify the number 
# then it will by default output five observations.
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
Address,,,,,
"208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101",79545.45857,5.682861,7.009188,4.09,23086.80050
"188 Johnson Views Suite 079\nLake Kathleen, CA 48958",79248.64245,6.002900,6.730821,3.09,40173.07217
"9127 Elizabeth Stravenue\nDanieltown, WI 06482-3489",61287.06718,5.865890,8.512727,5.13,36882.15940
USS Barnett\nFPO AP 44820,63345.24005,7.188236,5.586729,3.26,34310.24283
USNS Raymond\nFPO AE 09386,59982.19723,5.040555,7.839388,4.23,26354.10947

In [25]:
# Print the shape of your newly created feature matrix using the X.shape command.
X.shape

(5000, 5)

In [27]:
# we will create a variable called y that will store the target values. We will
# use indexing to grab the target column. Indexing allows you to access a section of
# a larger element. In this case, we want to grab the column named Price from the
# df DataFrame. Then, we want to print out the top 10 values of the variable.
y = df['Price']
y.head(10)

Address
208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101    1.059034e+06
188 Johnson Views Suite 079\nLake Kathleen, CA 48958    1.505891e+06
9127 Elizabeth Stravenue\nDanieltown, WI 06482-3489     1.058988e+06
USS Barnett\nFPO AP 44820                               1.260617e+06
USNS Raymond\nFPO AE 09386                              6.309435e+05
06039 Jennifer Islands Apt. 443\nTracyport, KS 16077    1.068138e+06
4759 Daniel Shoals Suite 442\nNguyenburgh, CO 20247     1.502056e+06
972 Joyce Viaduct\nLake William, TN 17778-6483          1.573937e+06
USS Gilbert\nFPO AA 20957                               7.988695e+05
Unit 9446 Box 0958\nDPO AE 97025                        1.545155e+06
Name: Price, dtype: float64

In [29]:
# The shape should be one-dimensional, with a length equal to the number of observations (5000) only.
y.shape

(5000,)